
.movie{
  width: 15vw;
  margin: 10px;
  box-shadow: black 0 0 5px;
  background: rgb(54, 54, 54)
}
.movie:hover{
  transform: scale(1.1,1.1);
  transition: all 0.3s ease-in;
  box-shadow: 0 0 0 3px #fbcf0a ;
}
.movie img{
  object-fit: cover;
  min-width: 15vw;
  height: 300px;
}